### Pyspark GroupBy And Aggregate Functions

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/07/15 12:47:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/07/15 12:47:28 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/07/15 12:47:28 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
25/07/15 12:47:28 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [3]:
spark

In [4]:
df_pyspark=spark.read.csv('test3.csv',header=True,inferSchema=True)

In [5]:
df_pyspark.show()

+-------+------------+------+
|   Name| Departments|salary|
+-------+------------+------+
|  Kelly|Data Science| 10000|
|  Kelly|         IOT|  5000|
|Michael|    Big Data|  4000|
|  Kelly|    Big Data|  4000|
|Michael|Data Science|  3000|
| Stuart|Data Science| 20000|
| Stuart|         IOT| 10000|
| Stuart|    Big Data|  5000|
| Steven|Data Science| 10000|
| Steven|    Big Data|  2000|
+-------+------------+------+

In [6]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [7]:
## Groupby
### Grouped to find the maximum salary
df_pyspark.groupBy('Name').sum().show()

+-------+-----------+
|   Name|sum(salary)|
+-------+-----------+
|  Kelly|      19000|
| Stuart|      35000|
|Michael|       7000|
| Steven|      12000|
+-------+-----------+

In [8]:
df_pyspark.groupBy('Name').avg().show()

+-------+------------------+
|   Name|       avg(salary)|
+-------+------------------+
|  Kelly| 6333.333333333333|
| Stuart|11666.666666666666|
|Michael|            3500.0|
| Steven|            6000.0|
+-------+------------------+

In [9]:
### Groupby Departmernts  which gives maximum salary
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [10]:
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [11]:
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [12]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+